.recipes, h1, h2, ol, ul, p {
    text-align: center;
}

.recipes {
    list-style: none;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 3px dotted black;
    margin: 20px 10px;
    padding: 5px;
    background-color: white;
}

h1, h2 {
    color:aqua;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

html {
    background-color:moccasin;
}

a {
    color:gray;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

ol, ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
}

ul {
    list-style-type: square;
    font-weight: bold;
    padding: 4px;
}

ol {
    display: inline-block;
    text-align: left;
    padding: 4px 10px;
}

.order-list {
    text-align: center;
}

img {
    width:auto;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}

ol li{
    padding: 5px;
}